:root {
    --primary-color: #1640a2;
    --secondary-color: #7e419d;
    --gradient: linear-gradient(to right, #310e92, #011663);
    --second-gradient: linear-gradient(to right, #e0eafcba, #f0f7ffc1);
    --third-gradient: linear-gradient(to right, #edf1f9, #d0e0f6);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kanit', sans-serif;

}

body {
    background: var(--gradient);
}

h1, h2, h3, h4, p, ul li{
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
h1 {
    text-align: center;
    padding: 20px;
    background-image: var(--gradient);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

p, ul li {
    background-image: var(--gradient);
}

h2, h3 {
    color: var(--primary-color);
}
h4 {
    color: var(--secondary-color);
}
#demoContainer iframe {
    background: white;
    width: 100%;
    height: 500px;
    margin: .5rem;
}

.details {
    margin: 10px;
}
.moviePlanner, .sleepOutside {
    margin: 20px;
    padding: 2rem;
    background-image: var(--second-gradient);
    background-color: var(--primary-color);
    border-radius: 10px;
    filter: drop-shadow(0 0 0.70rem #acb9d4);
}

.hero {
    background-image: url("../images/wddheader.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  
.hero-content {
    text-align: center;
    padding: 20px;
    height: 100%;
    background: linear-gradient(to right, #e0eafc8e, #cfdef3b6);;
}

footer {
    text-align: center;
    padding: 1rem;
    background: var(--third-gradient);
    color: var(--primary-color);
}

@media screen and (min-width: 700px) {
    .moviePlanner, .sleepOutside {
        margin: 20px;
        padding: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        background-image: var(--third-gradient);
        background-color: var(--primary-color);
        border-radius: 10px;
        filter: drop-shadow(0 0 0.70rem #acb9d4);
    }
}